<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <a class="nav me-auto" [routerLink]=" [ '/' ] "><img [src]="logoUrl" alt="formalabLogo" width="40px"></a>
        <ul class="nav">
            <li class="nav-item"><a href="#" *ngIf="!isLoggedIn" class="nav-link link-dark px-2" [routerLink]=" [ '/login' ] ">Login</a></li>
            <li class="nav-item "><a href="# " *ngIf="!isLoggedIn" class="nav-link link-dark px-2" [routerLink]="[ '/register' ]">Register</a>
                <li class="nav-item "><a href="# " *ngIf="isLoggedIn" class="nav-link link-dark px-2" (click)="logout()">Logout</a>
                </li>
        </ul>
    </div>
</nav>